[defaults]
inventory          = inventory/hosts.yml
remote_user        = jaydee
stdout_callback    = yaml
callbacks_enabled  = profile_tasks
forks              = 5

[ssh_connection]
pipelining = true
