HOST=0.0.0.0
PORT={{ paperclip_port }}
PAPERCLIP_HOME={{ paperclip_data_dir }}
PAPERCLIP_PUBLIC_URL={{ paperclip_public_url }}
PAPERCLIP_DEPLOYMENT_MODE=authenticated
PAPERCLIP_DEPLOYMENT_EXPOSURE=private
BETTER_AUTH_SECRET={{ paperclip_better_auth_secret_resolved }}
PAPERCLIP_TELEMETRY_DISABLED=1
