HOST=0.0.0.0
PAPERCLIP_BIND=lan
PORT={{ paperclip_port }}
PAPERCLIP_HOME={{ paperclip_data_dir }}
PAPERCLIP_PUBLIC_URL={{ paperclip_public_url }}
PAPERCLIP_AUTH_BASE_URL_MODE=explicit
PAPERCLIP_DEPLOYMENT_MODE=authenticated
PAPERCLIP_DEPLOYMENT_EXPOSURE=public
BETTER_AUTH_SECRET={{ paperclip_better_auth_secret_resolved }}
PAPERCLIP_TELEMETRY_DISABLED=1
